<?php /**
 * @var $this \Zend\View\Renderer\PhpRenderer
 */?><!doctype html>
<!--NOT USED ! TO BE REMOVED-->
<html class="no-js">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('PHP Srbija')->setSeparator(' | ')->setAutoEscape(false) ?>
    <?= $this->headMeta(); ?>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css?v=30">
    <script src="/js/modernizr.js"></script>
    <!-- @TODO favicon for all devices... -->
    <!-- @TODO Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<section class="custom-container">
    <?= $this->partial('templates::partial/header.phtml'); ?>

    <?= $this->content ?>
</section>

<section class="subscribe">
    <div class="updates">Get updates to your inbox</div>
    <form method="post"  action="/subscribe">
        <input id="token" name="_token" type="hidden">
        <input class="email" id="email"  name="email" type="text" placeholder="Email Address">
        <input class="button" type="submit" id="submit" value="Subscribe">
        <div class="flash"></div>
    </form>
</section>

<?= $this->partial('templates::partial/footer.phtml'); ?>

</body>
</html>