<?php /**
 * @var $this \Zend\View\Renderer\PhpRenderer
 */?><!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
	<?= $this->headTitle( 'PHP Srbija' )->setSeparator( ' | ' )->setAutoEscape( false ) ?>
	<?= $this->headMeta(); ?>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!--    @TODO Install bootstrap 4 with composer-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="/css/main.css?v=29">-->
    <link rel="stylesheet" href="/css/style.css?v=1">

    <link rel="stylesheet" href="/css/main.css?v=30">
    <script src="/js/modernizr.js"></script>

    <!-- @TODO favicon for all devices... -->
    <!-- @TODO Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<section class="custom-container">
	<?= $this->partial( 'templates::partial/header.phtml' ); ?>

	<?= $this->content ?>
</section>

<!--<section class="subscribe">-->
<!--    <div class="updates">Get updates to your inbox</div>-->
<!--    <form method="post" action="/subscribe">-->
<!--        <input id="token" name="_token" type="hidden">-->
<!--        <input class="email" id="email" name="email" type="text" placeholder="Email Address">-->
<!--        <input class="button" type="submit" id="submit" value="Subscribe">-->
<!--        <div class="flash"></div>-->
<!--    </form>-->
<!--</section>-->

<!-- subscription-section -->
<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center text-white">
                    Get updates to your inbox
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6 col-lg-6 mr-auto ml-auto">
                <form class="subscribtion-form" method="post" action="/subscribe">
                    <div class="form-group">
                        <input id="token" name="_token" type="hidden">
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <button  type="submit" id="submit" class="btn btn-primary custom-button">Submit</button>
                        <div class="flash"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ./subscription-section -->

<?= $this->partial( 'templates::partial/footer.phtml' ); ?>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
        integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>