<?php /** @var \Talk\Entity\Talk $talk */ ?>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <?php if($talk && $talk->getTalkId()): ?>
                        <h2>Talk: "<?= $talk->getTitle() ?>"</h2>
                    <?php else: ?>
                        <h2>Create new Talk Session</h2>
                    <?php endif; ?>
                </h2>
                <a href="<?= $this->url('admin.talks') ?>" class="btn btn-default pull-right">
                    <i class="fa fa-reply"></i> Back
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"><br/>
                <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data"
                      action="<?= $this->url('admin.talks.action', ['action' => 'save', 'id' => $talk && $talk->getTalkId() ? $talk->getTalkId() : 0]) ?>">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <!-- Content part -->
                            <div class="form-group">
                                <label class="control-label col-md-offset-9 col-md-2 col-xs-12">WYSIWYG</label>
                                <div class="control-label col-md-1 col-xs-12">
                                    <input type="checkbox" class="js-switch" value="1" id="is_wysiwyg_editor"
                                           name="is_wysiwyg_editor" checked />
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->is_wysiwyg_editor) ? implode('. ', (array)$errors->is_wysiwyg_editor) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="body" name="description" placeholder="Write content..."
                                              rows="30"><?= $talk ? $talk->getDescription() : '' ?></textarea>
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->body) ? implode('. ', (array)$errors->body) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- \Content part -->
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <!-- Rest configuration for Page -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="title" placeholder="Title"
                                           value="<?= $talk ? $talk->getTitle() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->title) ? implode('. ', (array)$errors->title) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">URL Slug</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="slug" placeholder="URL Slug"
                                           value="<?= $talk ? $talk->getSlug() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->slug) ? implode('. ', (array)$errors->slug) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Main image</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="file" class="form-control" name="main_img" placeholder="Main image"
                                           value="<?= $talk ? $talk->getMainImg() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->main_img) ? implode('. ', (array)$errors->main_img) : ''); ?>
                                        </li>
                                    </ul>
                                    <?php if($talk && $talk->getMainImg()): ?>
                                        <img src="<?= $talk->getMainImg() ?>" style="max-height: 100px;"/>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Speaker</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2 form-control" name="speaker_id">
                                        <?php foreach($speakers->getCurrentItems() as $speaker): ?>
                                            <option value="<?= ($speaker) ? $speaker->getSpeakerId() : '' ?>"
                                                <?= (($talk && $speaker) && $speaker->getSpeakerId() == $talk->getSpeakerId()) ? 'selected' : '' ?>>
                                                <?= $speaker->getName() ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->speaker_id) ? implode('. ', (array)$errors->speaker_id) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select track</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2 form-control" name="track">
                                            <option value="1" <?= ($talk && $talk->getTrack() == 1) ? 'selected' : '' ?>>Majestic</option>
                                            <option value="2" <?= ($talk && $talk->getTrack() == 2) ? 'selected' : '' ?>>Practicum</option>
                                            <option value="3" <?= ($talk && $talk->getTrack() == 3) ? 'selected' : '' ?>>Workshop</option>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->track) ? implode('. ', (array)$errors->track) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select type</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2 form-control" name="type">
                                        <option value="1" <?= ($talk && $talk->getType() == 1) ? 'selected' : '' ?>>Standard</option>
                                        <option value="2" <?= ($talk && $talk->getType() == 2) ? 'selected' : '' ?>>Keynote</option>
                                        <option value="3" <?= ($talk && $talk->getType() == 3) ? 'selected' : '' ?>>Workshop</option>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->type) ? implode('. ', (array)$errors->type) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select level</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2 form-control" name="level">
                                        <option value="1" <?= ($talk && $talk->getLevel() == 1) ? 'selected' : '' ?>>Entry level</option>
                                        <option value="2" <?= ($talk && $talk->getLevel() == 2) ? 'selected' : '' ?>>Mid level</option>
                                        <option value="3" <?= ($talk && $talk->getLevel() == 3) ? 'selected' : '' ?>>Advanced level</option>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->level) ? implode('. ', (array)$errors->level) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Schedule Date</label>
                                <div class="col-md-9 col-sm-9 col-xs-12  has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="scheduled_at_calendar"
                                           name="scheduled_at" value="<?= $talk ? $talk->getScheduledAt() : '' ?>"
                                           placeholder="Schedule Date" aria-describedby="inputSuccess2Status2">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->scheduled_at) ? implode('. ', (array)$errors->scheduled_at) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox" class="js-switch" value="1" name="is_active"
                                        <?= $talk && $talk->getIsActive() ? 'checked' : ''; ?> />
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->is_active) ? implode('. ', (array)$errors->is_active) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-block btn-success">Save</button>
                                    <br/>
                                    <a type="button" class="btn btn-default btn-block"
                                       href="<?= $this->url('admin.pages') ?>">
                                        Cancel
                                    </a>
                                    <?php if($talk && $talk->getTalkId()): ?>
                                        <br/>
                                        <a href="<?= $this->url('admin.pages.action', ['action' => 'delete', 'id' => $talk->getTalkId()]) ?>"
                                           onclick="if(!confirm('Are you sure?')){return false;}"
                                           class="btn btn-danger btn-block"> Delete
                                        </a>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <!-- \Rest configuration for Page -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<?php
$this->inlineScript()->appendScript("
$(document).ready(function() {
    initMce('#body', '100%', 500, true);
    $('.articleForm').on('submit', function(e) {
        tinyMCE.triggerSave();
    });
});
");
?>

<?php
$this->inlineScript()->appendScript("
    $(document).ready(function() {
	
		var changeCheckbox = document.querySelector('#is_wysiwyg_editor');
		changeCheckbox.onchange = function() {
		    if(changeCheckbox.checked){
		        initMce('#body', '100%', 500, true);
                $('.articleForm').on('submit', function(e) {
                    tinyMCE.triggerSave();
                });
		    }
		    else{
		        tinyMCE.remove();
		    }  
        };
        
        $('#scheduled_at_calendar').daterangepicker({
            timePicker24Hour: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            },
            singleDatePicker: true
		}, function(start, end, label) {
	        // console.log(start.toISOString(), end.toISOString(), label);
		});
    });
");
?>

