<?php /** @var \Talk\Entity\Talk $talk */ ?>
<?php /** @var \Zend\Paginator\Paginator $pagination */ ?>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Talks
                <small> / List of talk sessions.</small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a href="<?= $this->url('admin.talks.action', ['action' => 'edit', 'id' => 0]) ?>"
                       class="btn btn-default pull-right btn-success"> Create new Talk Session
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php if($pagination->getTotalItemCount() > 0): ?>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Published</th>
                                <th>Title</th>
                                <th>Track</th>
                                <th>Type</th>
                                <th>Level</th>
                                <th>Scheduled</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach($pagination->getCurrentItems() as $talk): ?>
                                <tr>
                                    <th>
                                        <span class="label label-<?= $talk->getIsActive() ? 'success' : 'danger' ?>">
                                            <?= $talk->getIsActive() ? 'Yes' : 'No' ?>
                                        </span>
                                    </th>
                                    <td>
                                        <?= $talk->getTitle() ?>
                                    </td>
                                    <td><?= $talk->getHrTrack()[$talk->getTrack()]; ?></td>
                                    <td><?= $talk->getHrType()[$talk->getType()]; ?></td>
                                    <td><?= $talk->getHrLevel()[$talk->getLevel()]; ?></td>
                                    <td><?= $talk->getScheduledAt('H:i d.m.Y') ?></td>
                                    <td><?= $talk->getCreatedAt('H:i d.m.Y') ?></td>
                                    <td>
                                        <span class="pull-right">
                                            <a href="<?= $this->url('admin.talks.action', ['action' => 'edit', 'id' => $talk->getTalkId()]) ?>">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a> &nbsp;
                                        </span>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <?= $this->paginationControl($pagination, 'Sliding', 'talk/pagination', ['route' => 'admin.talks']) ?>
                    <?php else: ?>
                        <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="jumbotron text-center">
                                <h3>There are no added Talk Sessions - Create one!</h3>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>