/* Defaults */

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.red-text {
    color: #DA2E2D;
}

.red-text:hover {
    color: #DA2E2D;
    text-decoration: none;
}

/* hr {
background: yellow;
width: 10%;
border-width: 2px;
} */

.master-header {
    background-image: url("../images/header-bg-desk.jpg");
    /* padding-top: 10rem; */
    padding-bottom: calc(20rem - 56px);
    /* background-position: center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Video */

.v-header {
    height: 85vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.header-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    opacity: 0.5;
    /* Was 100vh; */
    width: 100%;
}

/* Heading content */

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.time,
.place {
    color: #DA2E2D;
    margin: 10px;
}

/* Navigation */

.navigation {
    z-index: 4;
    color: #fff;
    background-color: transparent !important;
}

.big-tickets-btn {
    position: absolute;
    bottom: -4.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    padding: 10px 100px 10px 100px;
    border-radius: 50px;
}

/* TODO Media query */

.button-wrap a {
    margin-top: 125px;
    text-align: center;
    padding-top: 15px;
    width: 200px;
    border-radius: 50px;
    padding-bottom: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0 20px 0 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid yellow;
    color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
    border-bottom: 2px solid yellow;
}

.dropdown-item {
    text-align: center !important;
}

/* sections */

#speakers,
#contact-us,
#tweets,
#gallery {
    margin-top: 30px;
}

/* Speakers section */

#speakers img {
    margin: auto;
    display: block;
}

.custom-btn {
    padding: 10px;
    color: #DA2E2D;
    border: 3px solid #DA2E2D;
    border-radius: 50px;
    margin: auto;
    display: block;
    width: auto;
}

.speaker-name {
    color: #DA2E2D;
}

.speaker-job-desc,
#workshops h2 {
    color: #f96331;
}

/*Tweets section*/
#carouselExampleControls .card {
    display: inline-block;
    width: 18rem;
    background-color: transparent;
    border: none;
}

.tweets {
    margin-top: 0;
    background-color: rgb(235, 235, 242);
    padding: 4rem;
}

#carouselExampleControls .card .card-body {
    padding: 0;
}

.twitter-tweet {
    margin-top: 0;
    margin-bottom: 0;
    border: none !important;
}

/*Tweets section*/

/* Gallery section */

#gallery {
    background-image: url("../images/location-bg-desk.jpg");
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.location {
    color: #fff;
}

/* Sponsors section */

#sponsors img {
    margin: auto;
    display: block;
}

.title,
.subtitle {
    padding: 30px;
}

/* Subscribe section */

#subscribe {
    background-image: url("../images/newsletter_bg.png");
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.subscribtion-form input {
    background-color: transparent;
    border-width: 2px;
    border-radius: 50px;
}

.subscribtion-form input::placeholder {
    color: #fff;
    text-align: center;
}

.subscribtion-form .custom-button {
    box-shadow: 9px 5px 10px 0 rgba(0, 0, 0, .22);
    display: block;
    float: left;
    position: absolute;
    right: 15px;
    top: -1px;
    height: 41px;
    width: 116px;
    font-size: 20px;
    background: #FFCA00;
    color: #000000;
    border: none;
    border-radius: 50px;
    outline: 0;
}

/* Footer-section */

footer {
    background: #212121;
}

.grow-it-footer,
.php-srbija-footer {
    width: 105px;
    margin: 0 10px 10px 10px;
}

.social {
    margin: 0 10px 0 10px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-menu .breadcrumb {
    background-color: transparent;
}

/* Speakers page */

.speaker-image {
    width: 200px;
    height: 200px;
}

/* Contact page */

#code {
    color: #fff;
    font-size: 20px;
    margin: 0 auto 15px;
    background: #343434;
    width: 200px;
    font-family: moms_typewriter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contact-form input {
    border: 3px solid #343434;
    border-radius: 50px;
    width: 100%;
    display: block;
    height: 68px;
    margin-bottom: 20px;
    color: #343434;
    outline: 0;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

#contact-form textarea {
    resize: none;
    overflow: hidden;
    border: 3px solid #343434;
    border-radius: 50px;
    width: 100%;
    display: block;
    height: 204px;
    margin-bottom: 20px;
    color: #343434;
    outline: 0;
    padding: 17px;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    text-align: left;
    vertical-align: middle;
    color: #343434;
    padding-left: 20px;
}

.contact-button {
    box-shadow: 9px 5px 10px 0 rgba(0, 0, 0, .22);
    display: block;
    height: 70px;
    width: 100%;
    font-size: 20px;
    background: #343434;
    color: #fff;
    border: none;
    border-radius: 50px;
    outline: 0;
}

.contact-button:hover {
    box-shadow: 9px 5px 10px 0 rgba(0, 0, 0, .22);
    display: block;
    height: 70px;
    width: 100%;
    font-size: 20px;
    background: #343434;
    color: #fff;
    border: none;
    border-radius: 50px;
    outline: 0;
}

/* Blog page */

.read-more {
    text-decoration: underline;
}

#blog {
    margin-left: 140px;
    font-size: 28px;
    padding: 0px 10px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.stick-to-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark.sticky {
    z-index: 9999;
}

/* Timeline2 */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

/* Timeline2 */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .header-content h1 {
        font-size: 35px;
    }

    .time-title,
    .location-title {
        font-size: 23px;
    }

    .title {
        padding: 5px;
    }

    .grow-it-footer {
        float: left;
    }

    .php-srbija-footer {
        float: right;
    }

    .social-column h4 {
        text-align: center !important;
        float: none;
    }

    .social-column .social {
        float: none !important;
    }

    .nav-link {
        display: block;
    }

    .stick-to-top {
        position: relative;
        z-index: 2;
    }

    .navigation {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .big-tickets-btn {
        z-index: 3;
    }

    #navbarSupportedContent.collapse1.show {
        transform: translateX(0);
        z-index: 5;
        width: 100%;
        overflow-y: scroll;
    }

    #navbarSupportedContent.collapse1.show .nav-link {
        border-top: solid 1px #fff;
        width: 70%;
        padding: 10px 20px 10px 20px;
    }

    #navbarSupportedContent.collapse1.show a.btn {
        display: none;
    }

    .menu-title {
        padding: 5px;
    }

    #navbarSupportedContent.collapse1 {
        position: fixed;
        padding: 15px 0 55px;
        top: 0;
        right: 0;
        z-index: 5;
        bottom: 0;
        background-color: #DA2E2D;
        transform: translateX(100%);
        transition: transform .1s;
        overflow-y: hidden;
    }

    .navbar-toggler {
        z-index: 999999;
        position: absolute;
        margin: 5px;
        top: 5px;
        right: 5px;
    }

    .big-tickets-btn {
        bottom: -6.5%;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    /* HEADER MEDIA RULES */
    .header-content h1 {
        font-size: 35px;
    }

    .time-title,
    .location-title {
        font-size: 23px;
    }

    .v-header {
        height: 80vh;
    }

    /* FOOTER MEDIA RULES */
    .grow-it-footer {
        float: left;
    }

    .php-srbija-footer {
        float: right;
    }

    .social-column h4 {
        text-align: center !important;
        float: none;
    }

    .social-column .social {
        float: none !important;
        margin: auto;
        width: 100px;
        display: inline;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}

/* Masonry

.wrapper {
margin: 2em auto;
max-width: 970px;
}

img {
vertical-align: middle;
max-width: 100%;
}

.masonry {
display: flex;
}

.masonry--h {
flex-flow: row wrap;
}

.masonry--v {
flex-flow: column wrap;
max-height: 1080px;
}

.masonry--h,
.masonry--v {
margin-left: -8px;
counter-reset: brick;
}

.masonry-brick {
overflow: hidden;
border-radius: 5px;
margin: 0 0 8px 8px;
background-color: #333;
color: white;
position: relative;
}

.masonry-brick:after {
position: absolute;
top: 50%;
left: 50%;
z-index: 5000;
transform: translate(-50%, -50%);
counter-increment: brick;
content: counter(brick);
transition: font-size .25s, opacity .25s ease-in-out;
font-weight: 700;
opacity: .5;
font-size: 1.25em;
}

.masonry-brick:hover:after {
font-size: 2.25em;
opacity: 1;
}

.masonry-brick--h {
flex: auto;
height: 250px;
min-width: 150px;
}

@media only screen and (min-width: 1024px) {
.masonry-brick--h:nth-child(4n+1) {
width: 250px;
}
.masonry-brick--h:nth-child(4n+2) {
width: 325px;
}
.masonry-brick--h:nth-child(4n+3) {
width: 180px;
}
.masonry-brick--h:nth-child(4n+4) {
width: 380px;
}
.masonry--v {
max-height: 1600px;
}
.masonry-brick--v {
width: 33.33333%;
}
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
.masonry-brick--h:nth-child(4n+1) {
width: 200px;
}
.masonry-brick--h:nth-child(4n+2) {
width: 250px;
}
.masonry-brick--h:nth-child(4n+3) {
width: 120px;
}
.masonry-brick--h:nth-child(4n+4) {
width: 280px;
}
.masonry--v {
max-height: 2000px;
}
.masonry-brick--v {
width: 50%;
}
}

.masonry-img {
object-fit: cover;
width: 100%;
height: 100%;
filter: brightness(50%);
} */