<?php /** @var \Talk\Entity\Talk $talk */ ?>
<?php /** @var \Zend\Paginator\Paginator $pagination */ ?>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Schedule
                <small> / List of scheduled items.</small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a href="<?= $this->url('admin.schedule.action', ['action' => 'edit', 'id' => 0]) ?>"
                       class="btn btn-default pull-right btn-success"> Edit schedule
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Day One:</h4>
                    <ul>
                        <li>8:00 Conference Registration</li>
                        <li>10:00 Opening Address</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>