<!--<footer>-->
<!--    <div class="row">-->
<!--        <div class="col-lg-3 col-md-4 col-sm-4">-->
<!--            <div class="organized">-->
<!--                <div class="organized-text">-->
<!--                    <a title="PHP Serbia Conference 2018" target="_blank" href="https://conf2018.phpsrbija.rs">PHP-->
<!--                        Serbia Conference 2018</a> is organized by-->
<!--                    <a title="Grow IT doo" target="_blank" href="https://growit.events">Grow IT doo</a> under <a-->
<!--                            href="/organization-legal-notice" title="Licence">license</a> from-->
<!--                    <a title="PHP Serbia" target="_blank" href="https://phpsrbija.rs">PHP Serbia</a>-->
<!--                </div>-->
<!--                <a href="//phpsrbija.rs/" target="_blank" class="logo-square">-->
<!--                    <img src="/images/logo_footer.png" alt="PHPSerbia">-->
<!--                </a>-->
<!--                <a href="//growit.events/" target="_blank" class="logo-square">-->
<!--                    <img src="/images/growIT_negative.png" alt="GrowIT">-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-7 col-md-4 col-sm-4">-->
<!--            <ul class="footer-menu">-->
<!--                <li><a href="/">Home</a></li>-->
<!--                <li><a href="/speakers">Speakers</a></li>-->
<!--                <li><a href="/sessions">Sessions</a></li>-->
<!--                <!--        <li><a href="/schedule">Schedule</a></li>-->
<!--                <!--                <li><a target="_blank" href="http://cfp.phpsrbija.rs">Call for Speakers</a></li>-->
<!--                <li><a href="/venue">Venue</a></li>-->
<!--                <li><a href="/contact">Contact Us</a></li>-->
<!--                <li><a href="/blog/">Blog</a></li>-->
<!--                <li><a href="/tickets">Tickets</a></li>-->
<!--                <!--                <li><a href="/workshops">Workshops</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-2 col-md-4 col-sm-4">-->
<!--            <div class="stay">-->
<!--                <div class="stay-text">Stay Connected</div>-->
<!--                <div class="social-icons">-->
<!--                    <!--            <a href="https://www.instagram.com/phpsrbija/" target="_blank" class="instagram"></a>-->
<!--                    <a href="https://www.facebook.com/udruzenjeprogramera.rs" target="_blank" class="facebook"></a>-->
<!--                    <a href="https://twitter.com/PHPSrbija" target="_blank" class="twitter"></a>-->
<!--                    <a href="https://www.linkedin.com/company/udru-enje-gra-ana-php-srbija-" target="_blank"-->
<!--                       class="linkedin"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="copy">© --><? //= date( 'Y' ) ?><!-- <a href="http://phpsrbija.rs/" target="_blank">PHP Srbija</a> - <a-->
<!--                    href="/conduct" style="color:#ffffff;">CODE OF CONDUCT</a></div>-->
<!--    </div>-->
<!--</footer>-->

<!--<!--  Modal -->
<!--<div class="modal contact-form fade" id="contactForm" tabindex="-1" role="dialog">-->
<!--    <!-- <div class="modal-backdrop fade in"> -->
<!--    <!-- </div> -->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal">-->
<!--                </button>-->
<!--                <h4 class="modal-title" id="myModalLabel">-->
<!--                    Contact us for details-->
<!--                </h4>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form method="post" action="/contact">-->
<!--                    <input type="hidden" id="token" name="_token">-->
<!--                    <input class="contact-name" id="nameContactForm" name="nameContactForm" type="text" placeholder="Name and Surname"/>-->
<!--                    <input class="contact-email" id="emailContactForm" name="emailContactForm" type="text" placeholder="Email Address"/>-->
<!--                    <textarea class="contact-textarea" id="textareaContactForm" name="textareaContactForm" placeholder="Message"></textarea>-->
<!--                    <div class="code" id="code"></div>-->
<!--                    <div class="manual">Enter the code above here:</div>-->
<!--                    <input type="hidden" id="captcha"/>-->
<!--                    <input class="contact-code" type="text" name="codeContactForm" id="codeContactForm"/>-->
<!--                    <div class="read">Can't read image? click <a href="">here</a> to refresh.</div>-->
<!--                    <div class="contact-flash"></div>-->
<!--                    <input class="contact-button" type="submit" id="submit" value="Send"/>-->
<!--                    <h4 class="download">-->
<!--                        If you're thinking about becoming a sponsor <a href="/static/SponsorshipPackages2018.pdf" target="_blank" >DOWNLOAD OUR SPONSORSHIP PROSPECTUS</a>-->
<!--                    </h4>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <!-- /.modal-content -->
<!--    </div>-->
<!--    <!-- /.modal-dialog -->
<!--</div>-->
<!--<!-- /.modal -->


<!--FOOTER-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-md-center mr-auto ml-auto">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <p class="text-center text-white">
                    PHP Serbia Conference 2018 is organized by Grow IT doo under license from PHP Serbia
                </p>
                <img src="/images/logo_footer.png" alt="GrowIT" class="img-fluid php-srbija-footer">
                <img src="/images/growIT_negative.png" alt="Php-Srbija" class="img-fluid grow-it-footer">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-menu">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Workshops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sessions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tickets</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 social-column">
                <h4 class="text-right text-white text-uppercase">
                    Stay Connnected
                </h4>
                <i class="fab fa-facebook-square fa-3x text-white float-right social" aria-hidden="true"></i>
                <i class="fab fa-twitter-square fa-3x text-white float-right social" aria-hidden="true"></i>
                <i class="fab fa-linkedin fa-3x text-white float-right social" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center text-white mt-5 credits">
                    © 2018 PHP Srbija - CODE OF CONDUCT
                </p>
        <div class="col-lg-7 col-md-4 col-sm-4">
            <ul class="footer-menu">
<!--                <li><a href="/">Home</a></li>-->
                <li><a href="/workshops">Workshops</a></li>
                <li><a href="/schedule">Schedule</a></li>
<!--                <li><a href="/sessions">Sessions</a></li>-->
                <li><a href="/speakers">Speakers</a></li>
                <li><a href="/venue">Venue</a></li>
                <li><a href="/contact">Contact Us</a></li>
<!--                <li><a href="/blog/">Blog</a></li>-->
                <li><a href="/tickets">Tickets</a></li>

<!--                <li><a target="_blank" href="http://cfp.phpsrbija.rs">Call for Speakers</a></li>-->

            </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4">
            <div class="stay">
                <div class="stay-text">Stay Connected</div>
                <div class="social-icons">
                    <!--            <a href="https://www.instagram.com/phpsrbija/" target="_blank" class="instagram"></a>-->
                    <a href="https://www.facebook.com/udruzenjeprogramera.rs" target="_blank" class="facebook"></a>
                    <a href="https://twitter.com/PHPSrbija" target="_blank" class="twitter"></a>
                    <a href="https://www.linkedin.com/company/udru-enje-gra-ana-php-srbija-" target="_blank" class="linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER-->


<!-- sponsorhip - contact - modal -->
<div class="modal fade" id="contact-us-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/contact">
                    <input type="hidden" id="token" name="_token">

                    <div class="form-group">
                        <input type="email" class="form-control" id="nameContactForm" name="nameContactForm"
                               placeholder="Name and Surname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="emailContactForm" name="emailContactForm"
                               placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea type="email" class="form-control" id="textareaContactForm" name="textareaContactForm"
                                  placeholder="Message"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="code text-center" id="code">D L e q b q k</div>
                        <small id="codeHelp" class="form-text text-center text-muted">Enter the code above here:</small>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="code_input">
                        <small id="codeHelp" class="form-text text-center text-muted">Can't read image? click here to
                            refresh.
                        </small>
                    </div>
                    <input type="hidden" id="captcha"/>
                    <!--                    <input class="contact-code" type="text" name="codeContactForm" id="codeContactForm"/>-->
                    <div class="contact-flash"></div>
                    <button type="submit" id="submit" class="btn btn-primary text-center contact-button">Send</button>

                </form>
            </div>
            <div class="modal-footer">
                <h4 class="text-center">
                    If you're thinking about becoming a sponsor
                    <a href="/static/SponsorshipPackages2018.pdf" target="_blank">DOWNLOAD OUR SPONSORSHIP
                        PROSPECTUS</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- sponsorhip - contact - modal -->

<script src="/js/vendor.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-109041543-2', 'auto');
    ga('send', 'pageview');
</script>
<script src="/js/responsiveslides.min.js"></script>
<script src="/js/main.js?v=9"></script>
<script type="text/javascript" src="https://www.xing-events.com/resources/js/amiandoExport.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDst-SNLWw7GuSAN2G3eG_aJDrBGUFoWkU"></script>
<script type="text/javascript"
        src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<!-- https://console.developers.google.com/apis/credentials?project=phpserbia2016 -->