<?php
/**
 * @var $this \Zend\View\Renderer\PhpRenderer
 */

$uri = explode( '/', $this->serverUrl() )[3];

?>


<!-- ./Navbar -->
<?php if ( $uri !== '' ) : ?>
    <header class="master-header">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">

            <a class="navbar-brand" href="#">
                <img src="/images/logo_header.png" alt="PHPSerbia" class="img-fluid"/>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse1 navbar-collapse flex-md-column" id="navbarSupportedContent">
                <ul class="navbar-nav mb-md-1 mt-md-0 mb-0 mt-4">
                    <li class="nav-item">
                        <a class="nav-link <?php if ( $uri === '' ) {
							echo 'active';
						} ?>" href="/">Home</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'workshops' ) {
							echo 'active';
						} ?>" href="/workshops">Workshops</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'schedule' ) {
							echo 'active';
						} ?>" href="/schedule">Schedule</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'speakers' ) {
							echo 'active';
						} ?>" href="/speakers">Speakers</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'contact' ) {
							echo 'active';
						} ?>" href="/contact">Contact us</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'blog' ) {
							echo 'active';
						} ?>" href="/blog/">Blog</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a class="nav-link <?php if ( $uri === 'tickets' ) {
							echo 'active';
						} ?>" href="/tickets">Tickets</a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a href="/tickets" class="btn btn-warning nav-link">Tickets</a>
                    </li>
                </ul>
                <div class="flex-column align-items-start ml-lg-6 ml-auto mt-0 mb-4 stick-to-top" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item list-inline-item menu-title">Browse past editions:</li>
                        <li class="nav-item list-inline-item">
                            <a href="http://conf2017.phpsrbija.rs/" target="_blank" class="nav-link">
                                2017
                            </a>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a href="http://conf2016.phpsrbija.rs/" target="_blank" class="nav-link">
                                2016
                            </a>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a href="http://soliday.phpsrbija.rs/" target="_blank" class="nav-link">
                                2015
                            </a>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a href="http://tday2014.phpsrbija.rs/" target="_blank" class="nav-link">
                                2014
                            </a>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a href="http://gcd.phpsrbija.rs/" target="_blank" class="nav-link">
                                2013
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<?php else: ?>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">

        <a class="navbar-brand" href="#">
            <img src="/images/logo_header.png" alt="PHPSerbia" class="img-fluid"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse1 navbar-collapse flex-md-column" id="navbarSupportedContent">
            <ul class="navbar-nav mb-md-1 mt-md-0 mb-0 mt-4">
                <li class="nav-item">
                    <a class="nav-link <?php if ( $uri === '' ) {
			            echo 'active';
		            } ?>" href="/">Home</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'workshops' ) {
			            echo 'active';
		            } ?>" href="/workshops">Workshops</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'schedule' ) {
			            echo 'active';
		            } ?>" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'speakers' ) {
			            echo 'active';
		            } ?>" href="/speakers">Speakers</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'contact' ) {
			            echo 'active';
		            } ?>" href="/contact">Contact us</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'blog' ) {
			            echo 'active';
		            } ?>" href="/blog/">Blog</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link <?php if ( $uri === 'tickets' ) {
			            echo 'active';
		            } ?>" href="/tickets">Tickets</a>
                </li>
                <li class="nav-item list-inline-item">
                    <a href="/tickets" class="btn btn-warning nav-link">Tickets</a>
                </li>
            </ul>
            <div class="flex-column align-items-start ml-lg-6 ml-auto mt-0 mb-4 stick-to-top" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item list-inline-item menu-title">Browse past editions:</li>
                    <li class="nav-item list-inline-item">
                        <a href="http://conf2017.phpsrbija.rs/" target="_blank" class="nav-link">
                            2017
                        </a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a href="http://conf2016.phpsrbija.rs/" target="_blank" class="nav-link">
                            2016
                        </a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a href="http://soliday.phpsrbija.rs/" target="_blank" class="nav-link">
                            2015
                        </a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a href="http://tday2014.phpsrbija.rs/" target="_blank" class="nav-link">
                            2014
                        </a>
                    </li>
                    <li class="nav-item list-inline-item">
                        <a href="http://gcd.phpsrbija.rs/" target="_blank" class="nav-link">
                            2013
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header class="v-header header-container container-fluid">
        <div class="fullscreen-video-wrap">
            <video playsinline autoplay muted loop>
                <source src="/video/Conf-time-lapse-2017.webm" type="video/webm">
                <source src="/video/conf2017-timelapse.mp4" type="video/mp4">
            </video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <div class="row">
                <div class="col col-xs-12 title">
                    <h1 class="text-center align-top master-title">Join us for PHP Serbia Conference 2018</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <i class="far fa-clock fa-3x time"></i>
                    <h2 class="time-title">May 25-27, 2018 Three days of PHP</h2>
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <i class="fas fa-map-marker-alt fa-3x place"></i>
                    <h2 class="location-title">Madlenianum Theatre, Belgrade, Serbia</h2>
                </div>
            </div>
        </div>
    </header>
<?php endif; ?>


<!-- OLD THEME  -->
<?php
//
//$uri = explode('/', $this->serverUrl())[3];
//$class = '';
//if ($uri === '') {
////    $class .= 'home-video';
//?>

<!--<div id="video" style="position: absolute; width: 100%; height: 730px; overflow: hidden;">-->
<!--    <video playsinline autoplay muted loop>-->
<!--        <source src="/video/Conf-time-lapse-2017.webm" type="video/webm">-->
<!--        <source src="/video/conf2017-timelapse.mp4" type="video/mp4">-->
<!--    </video>-->
<!--    <div class="overlay"></div>-->
<!--</div>-->
<?php
//}
?>

<!--<header id="header-nav" class="clearfix --><? // //=$class?><!--">-->
<!--    <a href="/" class="logo-square">-->
<!--        <img src="/images/logo_header.png" alt="PHPSerbia">-->
<!--    </a>-->
<!--    <a href="/tickets" class="btn btn-tickets">Tickets</a>-->
<!--    <button class="btn btn-link icon-menu"></button>-->
<!--    <nav class="primary">-->
<!--        <ul class="clearfix">-->
<!--            <li class="--><?php //if ( $uri === '' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/">Home</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'workshops' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/workshops">Workshops</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'schedule' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/schedule">Schedule</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'speakers' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/speakers">Speakers</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'contact' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/contact">Contact us</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'blog' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/blog/">Blog</a>-->
<!--            </li>-->
<!--            <li class="--><?php //if ( $uri === 'tickets' ) {
//				echo 'active';
//			} ?><!--">-->
<!--                <a href="/tickets">Tickets</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <div class="browse">-->
<!--            BROWSE PAST EDITIONS-->
<!--        </div>-->
<!--        <ul class="second clearfix">-->
<!--            <li>-->
<!--                <a class="year2017" href="http://conf2017.phpsrbija.rs/" target="_blank">2017</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="year2016" href="http://conf2016.phpsrbija.rs/" target="_blank">2016</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="year2015" href="http://soliday.phpsrbija.rs/" target="_blank">2015</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="year2014" href="http://tday2014.phpsrbija.rs/" target="_blank">2014</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="year2013" href="http://gcd.phpsrbija.rs/" target="_blank">2013</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->

<!-- OLD THEME  -->