<?php /** @var \Speaker\Entity\Speaker $speaker */ ?>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <?php if($speaker && $speaker->getSpeakerId()): ?>
                        <h2>Speaker: "<?= $speaker->getName() ?>"</h2>
                    <?php else: ?>
                        <h2>Add new Speaker</h2>
                    <?php endif; ?>
                </h2>
                <a href="<?= $this->url('admin.speakers') ?>" class="btn btn-default pull-right">
                    <i class="fa fa-reply"></i> Back
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"><br/>
                <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data"
                      action="<?= $this->url('admin.speakers.action', ['action' => 'save', 'id' => $speaker && $speaker->getSpeakerId() ? $speaker->getSpeakerId() : 0]) ?>">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <!-- Content part -->
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="body" name="description" placeholder="Write content..."
                                              rows="30"><?= $speaker ? $speaker->getDescription() : '' ?></textarea>
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->description) ? implode('. ', (array)$errors->description) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- \Content part -->
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <!-- Rest configuration for Page -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="name" placeholder="Name"
                                           value="<?= $speaker ? $speaker->getName() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->name) ? implode('. ', (array)$errors->name) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">URL Slug</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="slug" placeholder="URL Slug"
                                           value="<?= $speaker ? $speaker->getSlug() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->slug) ? implode('. ', (array)$errors->slug) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Company name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="company" placeholder="Company name"
                                           value="<?= $speaker ? $speaker->getCompany() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->company) ? implode('. ', (array)$errors->company) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Twitter name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="twitter" placeholder="Twitter name"
                                           value="<?= $speaker ? $speaker->getTwitter() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->twitter) ? implode('. ', (array)$errors->twitter) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Facebook name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" name="facebook" placeholder="Facebook name"
                                           value="<?= $speaker ? $speaker->getFacebook() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->facebook) ? implode('. ', (array)$errors->facebook) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Main image</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="file" class="form-control" name="main_img" placeholder="Main image"
                                           value="<?= $speaker ? $speaker->getMainImg() : '' ?>">
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->main_img) ? implode('. ', (array)$errors->main_img) : ''); ?>
                                        </li>
                                    </ul>
                                    <?php if($speaker && $speaker->getMainImg()): ?>
                                        <img src="<?= $speaker->getMainImg() ?>" style="max-height: 100px;"/>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Published</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox" class="js-switch" value="1" name="is_active"
                                        <?= $speaker && $speaker->getIsActive() ? 'checked' : ''; ?> />
                                    <ul class="parsley-errors-list">
                                        <li class="">
                                            <?= (isset($errors->is_active) ? implode('. ', (array)$errors->is_active) : ''); ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-block btn-success">Save</button>
                                    <br/>
                                    <a type="button" class="btn btn-default btn-block"
                                       href="<?= $this->url('admin.pages') ?>">
                                        Cancel
                                    </a>
                                    <?php if($speaker && $speaker->getSpeakerId()): ?>
                                        <br/>
                                        <a href="<?= $this->url('admin.speakers.action', ['action' => 'delete', 'id' => $speaker->getSpeakerId()]) ?>"
                                           onclick="if(!confirm('Are you sure?')){return false;}"
                                           class="btn btn-danger btn-block"> Delete
                                        </a>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <!-- \Rest configuration for Page -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php
$this->inlineScript()->appendScript("
$(document).ready(function() {
    initMce('#body', '100%', 500, true);
    $('.articleForm').on('submit', function(e) {
        tinyMCE.triggerSave();
    });
});
");
?>
