<?php
/** @var \Page\Entity\Page $page */

$escaper = (new \Zend\Escaper\Escaper);
$this->headMeta('PHP Serbia Conferece :: Contact us', 'description');
?>

<section class="location-contact clearfix">
    <div class="location-title-wrapper">
        <div class="contact upper">CONTACT US</div>
    </div>

    <h4 class="center">
        Please use the form or contact information below to contact us. We look forward to hearing from you!
    </h4>
    <h4 class="center">
        If you're thinking about becoming a sponsor  <a href="/static/SponsorshipPackages2018.pdf" target="_blank" class="download">DOWNLOAD OUR SPONSORSHIP PROCPECTUS</a>
    </h4>
    <form method="post" action="/contact-submit">
        <h3 class="center">Contact form:</h3>

        <input class="contact-name" id="nameContactForm" name="nameContactForm" placeholder="Name and Surname" type="text">
        <input class="contact-email" id="emailContactForm" name="emailContactForm" placeholder="Email Address" type="text">
        <textarea class="contact-textarea" id="textareaContactForm" name="textareaContactForm" placeholder="Message"></textarea>

        <div class="code" id="code"></div>
        <div class="manual">Enter the code above here:</div>
        <input id="captcha" value="" type="hidden">

        <input class="contact-code" name="codeContactForm" id="codeContactForm" type="text">
        <div class="read">Can't read image? click <a href="">here</a> to refresh.</div>
        <div class="contact-flash" style="display: none;"></div>
        <input class="contact-button" id="submit" value="Send" type="submit">
    </form>

    <div class="contact-details bordered">
        <h3 class="center">Contact data:</h3>
        <p>PHP Srbija</p>
        <p>Email: <a href="mailto:conference@phpsrbija.rs" target="_blank">conference@phpsrbija.rs</a></p>
        <p>Phone: +381 64 2030082</p>
    </div>
</section>