<?php
/** @var \Page\Entity\Page $page */

$escaper = ( new \Zend\Escaper\Escaper );
$this->headMeta( 'Join us for PHP Serbia Conference 2018 at Madlenianum Theatre', 'description' );
$this->headMeta( 'PHP Serbia Conference 2018', 'og:title' );
$this->headMeta( 'page', 'og:type' );
$this->headMeta( $this->serverUrl( '/images/fbmeta.jpg' ), 'og:image' );
$this->headMeta( $this->serverUrl(), 'og:url' );
$this->headMeta( 'Join us for PHP Serbia Conference 2018 at Madlenianum Theatre', 'og:description' );
?>
<section id="speakers">
    <a href="/tickets" class="btn btn-warning big-tickets-btn">Tickets</a>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4 class="text-danger text-center">Speakers</h4>
                <h2 class="text-center">Learn from prominent experts</h2>
            </div>
        </div>
        <div class="row justify-content-md-center mr-auto ml-auto">
			<?php foreach ( $speakers as $speaker ): ?>
                <div class="col-xs col-sm-12 col-md-2 col-lg-2">
                    <img src="<?= $speaker['main_img'] ?>" alt="speaker1" class="rounded-circle img-fluid">
                    <h4 class="text-center speaker-name">
						<?= $speaker['name'] ?>
                    </h4>
                    <p class="text-center speaker-job-desc">
						<?= $speaker['company'] ?>
                    </p>
                </div>
			<?php endforeach; ?>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <a href="/speakers" class="custom-btn text-center text-uppercase">
            View all speakers
        </a>
    </div>
</section>
<section class="tweets" id="tweets">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="red-text text-uppercase">FROM TWITTER</h3>
                <h2>What people are saying</h2>
            </div>
        </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <div class="card">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-border-color="#000" data-lang="en"><p lang="en"
                                                                                                     dir="ltr">
                                Thank you <a
                                        href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>
                                for such a great conference! It was a pleasure and big honor to give a talk at
                                such a very well organized event. 👍🏻</p>&mdash; Alexander Lisachenko
                            (@lisachenko) <a
                                    href="https://twitter.com/lisachenko/status/868903801813708802?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a
                                        href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>
                                for a great <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>.
                                I&#39;m sorry I couldn&#39;t stay until the end, but you put on a great and
                                well-organized conf!</p>&mdash; Rasmus Lerdorf (@rasmus) <a
                                    href="https://twitter.com/rasmus/status/868859681782996993?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a
                                        href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>
                                for inviting me to be part of a great event! You did an awesome job for an
                                awesome community! Thank you!</p>&mdash; Andreas Heigl (@heiglandreas) <a
                                    href="https://twitter.com/heiglandreas/status/868873008982757376?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a
                                        href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>
                                conference was excellent. Fantastic hospitality, great crowd. I’d recommend it
                                to attendees and speakers alike.</p>&mdash; Josh Butts (@jimbojsb) <a
                                    href="https://twitter.com/jimbojsb/status/868870882042753025?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Grab my slides
                                from <a href="https://t.co/ezPJqhYtBA">https://t.co/ezPJqhYtBA</a> and please
                                let me know how I can improve - thanks for coming to my talk! <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>
                                great crowd!</p>&mdash; James Titcumb 🇪🇺 (@asgrim) <a
                                    href="https://twitter.com/asgrim/status/868757446763872257?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you to the
                                <a href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>
                                organizers, for an awesome speakers dinner. <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>
                            </p>&mdash; Adam Culp (@adamculp) <a
                                    href="https://twitter.com/adamculp/status/868580850383892481?ref_src=twsrc%5Etfw">May
                                27, 2017</a></blockquote>
                    </div>
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en"
                                                                                                dir="ltr">Thanks
                                <a href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a> for
                                inviting me to speak. It&#39;s been a great conference! <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>
                                <a href="https://t.co/r0LFw1O86a">pic.twitter.com/r0LFw1O86a</a></p>&mdash; Rob
                            Allen (@akrabat) <a
                                    href="https://twitter.com/akrabat/status/868867260244537349?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you are
                                interested to hear about some of my experiences with eventsourcing and CQRS,
                                join me at 16:00 in Praktikum track <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>
                            </p>&mdash; Miro Svrtan (@msvrtan) <a
                                    href="https://twitter.com/msvrtan/status/868448571997261824?ref_src=twsrc%5Etfw">May
                                27, 2017</a></blockquote>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en"
                                                                                                dir="ltr">It&#39;s
                                <a href="https://twitter.com/adamculp?ref_src=twsrc%5Etfw">@adamculp</a> for the
                                final talk of <a
                                        href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>...
                                <a href="https://t.co/oLhDkccY0d">pic.twitter.com/oLhDkccY0d</a></p>&mdash; Rob
                            Allen (@akrabat) <a
                                    href="https://twitter.com/akrabat/status/868846631264948226?ref_src=twsrc%5Etfw">May
                                28, 2017</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <i class="fas fa-arrow-circle-left text-primary fa-2x"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <i class="fas fa-arrow-circle-right text-primary fa-2x"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


<!-- gallery-section -->
<section id="gallery">
    <div class="ml-5 mt-6 location">
        <h3 class="location-title">Venue</h3>
        <h4 class="opera">Madlenianum Theatre, Belgrade, Serbia</h4>
        <a class="get" target="_blank"
           href="https://maps.google.com?saddr=Current+Location&daddr=Glavna+12+11000+Beograd+Srbija+Madlenianum+Theatre">Get
            Directions</a>
    </div>
</section>

<!--./gallery-section -->
<!-- Sponsors-section -->
<section id="sponsors">
    <!-- Container-fluid -->
    <div class="container-fluid">
        <!-- Title -->
        <div class="row">
            <div class="col title">
                <h4 class="red-text text-uppercase text-center">SPONSORSHIP</h4>
                <h2 class="text-center">Become a sponsor</h2>
                <h3 class="text-center">We are currently offering sponsorship for PHP Serbia Conference 2018.
                    <a href="#contact-us-modal" class="red-text" data-toggle="modal">Contact us for details.</a> The great companies
                    below are supporting us. Thank you!</h3>
            </div>
        </div>
        <!-- ./Title -->

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Overall sponsor</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row overall-sponsors">
            <div class="col col-md-6 col-lg-6 border">
                <a href="http://www.performance-technologies.de/" target="_blank"><img class="img-fluid"
                                                                                       src="/images/sponsors/PT.png?=1"></a>
            </div>
            <div class="col col-md-6 col-lg-6 border">
                <a href="https://esome.com" target="_blank"><img class="img-fluid" src="/images/sponsors/esome.png"></a>
            </div>
        </div>

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Silver sponsors</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row silver-sponsors">
            <div class="col col-md-4 col-lg-4 border">
                <a href="https://blackfire.io/" target="_blank"><img class="img-fluid"
                                                                     src="/images/sponsors/blackfire.io.logo.png"></a>
            </div>
            <div class="col col-md-4 col-lg-4 border">
                <a href="https://platform.sh/" target="_blank"><img class="img-fluid"
                                                                    src="/images/sponsors/platformsh-logo460x200.png"></a>
            </div>
            <div class="col col-md-4 col-lg-4 border">
                <a href="https://www.catenamedia.com/" target="_blank"><img class="img-fluid"
                                                                            src="/images/sponsors/catena.jpg"></a>
            </div>
        </div>

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Bronze sponsors</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row bronze-sponsors">
            <div class="col border">
                <a href="https://www.siteground.com" target="_blank"><img class="img-fluid"
                                                                          src="/images/sponsors/SiteGround.png"></a>
            </div>
        </div>

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Beer sponsors</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row beer-sponsors">
            <div class="col border">
                <a href="https://platform.sh/" target="_blank"><img class="img-fluid"
                                                                    src="/images/sponsors/platformsh-logo460x200.png"></a>
            </div>
        </div>

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Friends</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row friends">
            <div class="col col-md-4 col-lg-4 border">
                <a href="http://www.trikoder.hr/" target="_blank"><img class="img-fluid"
                                                                       src="/images/sponsors/trikoder.png?1"></a>
            </div>
            <div class="col col-md-4 col-lg-4 border">
                <a href="http://github.com/" target="_blank"><img class="img-fluid"
                                                                  src="/images/sponsors/GitHub_Logo.png?2"></a>
            </div>
            <div class="col col-md-4 col-lg-4 border">
                <a href="https://www.jetbrains.com/" target="_blank"><img class="img-fluid"
                                                                          src="/images/sponsors/jetbrains.jpg?1"></a>
            </div>
        </div>

        <!-- Subtitle -->
        <div class="row">
            <div class="col subtitle">
                <h4 class="text-center">Media sponsors</h4>
            </div>
        </div>
        <!-- ./Subtitle -->

        <div class="row media-sponsors">
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://www.blic.rs/" target="_blank"><img class="img-fluid" src="/images/sponsors/blic.jpg?1"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="https://noizz.rs/" target="_blank"><img class="img-fluid" src="/images/sponsors/noizz.jpg?1"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://www.dsi.rs/" target="_blank"><img class=img-fluid src="/images/sponsors/dsi250x80.png"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://designed.rs/" target="_blank"><img class=img-fluid
                                                                   src="/images/sponsors/Designed-White.jpg?2"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://tajmlajn.rs/" target="_blank"><img class="img-fluid"
                                                                   src="/images/sponsors/timeline.jpg"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://studenti.rs/" target="_blank"><img class="img-fluid"
                                                                   src="/images/sponsors/studenti-250x80-1.jpg"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="https://itmagazin.info" target="_blank"><img class="img-fluid"
                                                                      src="/images/sponsors/itmagazin.logo.png?1"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://www.ukratko.biz/" target="_blank"><img class="img-fluid"
                                                                       src="/images/sponsors/Ukratko-logo-500.png"></a>
            </div>
            <div class="col-xs-12 text-center col-md-4 col-lg-4 border">
                <a href="http://style.rs/" target="_blank"><img class="img-fluid" src="/images/sponsors/Logo-style.jpg"></a>
            </div>
        </div>
        <div class="media-box col-lg-4 col-md-4 col-sm-4">
            <a href="http://fonis.rs/" target="_blank"><img src="/images/sponsors/fonis.jpg?3"></a>
        </div>
    </div>
    <!-- ./container -->
</section><!-- ./sponsors-section -->






<!--  OLD CODE  -->


<!--<section class="sp-ship">-->
<!--    <div class="sp-ship-main">-->
<!--        <div class="title">SPONSORSHIP</div>-->
<!--        <div class="become">Become a sponsor</div>-->
<!--        <div class="text">We are currently offering sponsorship for PHP Serbia Conference 2018. <a class="contact"-->
<!--                                                                                                   target="_blank"-->
<!--                                                                                                   href="javascript(void);">Contact-->
<!--                us for details.</a></div>-->
<!---->
<!--        <div class="text">The great companies below are supporting us. Thank you!</div>-->
<!--    </div>-->
<!---->
<!--    <div class="platinum-wrapper">-->
<!--        <div class="img-text col-lg-12 col-md-12">Overall sponsors</div>-->
<!---->
<!--        <div class="platinum-box col-lg-12 col-md-12">-->
<!--            <a href="http://www.performance-technologies.de/" target="_blank"><img src="/images/sponsors/PT.png?=1"></a>-->
<!--        </div>-->
<!--        <div class="platinum-box col-lg-12 col-md-12">-->
<!--            <a href="https://esome.com" target="_blank"><img src="/images/sponsors/esome.png"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="gold-wrapper row">-->
<!--        <div class="img-text col-lg-12 col-md-12">Gold sponsors</div>-->
<!---->
<!--        <div class="gold-box col-lg-12 col-md-12">-->
<!--            <a href="https://rs.factcool.com/" target="_blank"><img src="/images/sponsors/factcool.png?1"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="silver-brozne-wrapper row">-->
<!--        <div class="img-text col-lg-12 col-md-12">Silver sponsors</div>-->
<!---->
<!--        <div class="silver-box col-lg-6 col-md-6">-->
<!--            <a href="https://blackfire.io/" target="_blank"><img src="/images/sponsors/blackfire.io.logo.png"></a>-->
<!--        </div>-->
<!--        <div class="silver-box col-lg-6 col-md-6">-->
<!--            <a href="https://platform.sh/" target="_blank"><img src="/images/sponsors/platformsh-logo460x200.png"></a>-->
<!--        </div>-->
<!--        <div class="silver-box col-lg-6 col-md-6">-->
<!--            <a href="https://www.catenamedia.com/" target="_blank"><img src="/images/sponsors/catena.jpg"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="silver-brozne-wrapper row">-->
<!--        <div class="img-text  col-lg-12 col-md-12">Bronze sponsors</div>-->
<!---->
<!--        <div class="bronze-box col-lg-12 col-md-12 col-sm-12">-->
<!--            <a href="https://www.siteground.com" target="_blank"><img src="/images/sponsors/SiteGround.png"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="silver-brozne-wrapper row">-->
<!--        <div class="img-text  col-lg-12 col-md-12">Beer sponsors</div>-->
<!---->
<!--        <div class="silver-box col-lg-12 col-md-12">-->
<!--            <a href="https://platform.sh/" target="_blank"><img src="/images/sponsors/platformsh-logo460x200.png"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="silver-brozne-wrapper friends-wrapper row">-->
<!--        <div class="img-text col-lg-12 col-md-12">Friends</div>-->
<!---->
<!--        <div class="media-box col-lg-6 col-md-6 col-sm-6">-->
<!--            <a href="http://www.trikoder.hr/" target="_blank"><img src="/images/sponsors/trikoder.png?1"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-6  col-md-6 col-sm-6">-->
<!--            <a href="http://github.com/" target="_blank"><img src="/images/sponsors/GitHub_Logo.png?2"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-6 col-md-6 col-sm-6">-->
<!--            <a href="https://www.jetbrains.com/" target="_blank"><img src="/images/sponsors/jetbrains.jpg?1"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="silver-brozne-wrapper media-wrapper row">-->
<!--        <div class="img-text col-lg-12 col-md-12">Media sponsors</div>-->
<!---->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4">-->
<!--            <a href="http://www.blic.rs/" target="_blank"><img src="/images/sponsors/blic.jpg?1"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4">-->
<!--            <a href="https://noizz.rs/" target="_blank"><img src="/images/sponsors/noizz.jpg?1"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://www.dsi.rs/" target="_blank"><img src="/images/sponsors/dsi250x80.png"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://designed.rs/" target="_blank"><img src="/images/sponsors/Designed-White.jpg?2"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://tajmlajn.rs/" target="_blank"><img src="/images/sponsors/timeline.jpg"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://studenti.rs/" target="_blank"><img src="/images/sponsors/studenti-250x80-1.jpg"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="https://itmagazin.info" target="_blank"><img src="/images/sponsors/itmagazin.logo.png?1"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://www.ukratko.biz/" target="_blank"><img src="/images/sponsors/Ukratko-logo-500.png"></a>-->
<!--        </div>-->
<!--        <div class="media-box col-lg-4 col-md-4 col-sm-4" style="border-right: solid 2px #e1e3e5; ">-->
<!--            <a href="http://style.rs/" target="_blank"><img src="/images/sponsors/Logo-style.jpg"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!--<section class="theatre">-->
<!--    <div class="tweeter-hash">-->
<!--        <a href="https://twitter.com/search?q=%23phpsrb" target="_blank" title="#phpsrb">#phpsrb</a>-->
<!--    </div>-->
<!--    <div class="join">-->
<!--        Join us for PHP Serbia<br />-->
<!--        Conference 2018-->
<!--    </div>-->
<!--    <div class="time-place-wrapper">-->
<!--        <div class="time">-->
<!--            May 25-27, 2018 <br />Three days of PHP-->
<!--        </div>-->
<!--<!--        <a target="_blank" href="https://www.google.com/maps/dir/Trg+republike/Madlenianum,+Glavna,+Belgrade/@44.8298614,20.4190278,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x475a7ab2453c4ba1:0xb81037438bba0036!2m2!1d20.4602481!2d44.8162637!1m5!1m1!1s0x475a65aefcdf6061:0xfdad4167f0f9fd0b!2m2!1d20.410862!2d44.845508" class="place">-->
<!--        <a href="/venue" class="place">-->
<!--            <span>Madlenianum Theatre,<br />-->
<!--            Belgrade, Serbia</span>-->
<!--        </a>-->
<!--    </div>-->
<!--</section>-->
<!--<a href="/tickets" class="btn btn-register">LIMITED OFFER <br /><span>Tickets</span></a>-->
<!--<a href="/tickets" class="btn btn-register">Tickets</a>-->
<!---->
<!---->
<!--<section class="speakers">-->
<!--    <div class="speakers-title-wrapper">-->
<!--        <div class="title">SPEAKERS</div>-->
<!--        <div class="learn">Learn from prominent experts</div>-->
<!--    </div>-->
<!--    <div class="speakers-participants-wrapper">-->
<!--		--><?php //foreach ( $speakers as $speaker ): ?>
<!--            <div class="speaker-box no-pointer">-->
<!--                <a class="open"><img src="--><? //= $speaker['main_img'] ?><!--">-->
<!--                </a>-->
<!--                <div class="name">--><? //= $speaker['name'] ?><!--</div>-->
<!--                <div class="position"></div>-->
<!--                <div class="company">--><? //= $speaker['company'] ?><!--&nbsp;</div>-->
<!--            </div>-->
<!--		--><?php //endforeach; ?>
<!--    </div>-->
<!--    <a href="/speakers" class="btn btn-view">VIEW ALL SPEAKERS</a>-->
<!--</section>-->

<!--    <div class="tweets-wrapper">-->
<!--        <div class="title">FROM TWITTER</div>-->
<!--        <div class="what">What people are saying</div>-->
<!--        <div class="tweets-box-wrapper row">-->
<!--            <div class="col-lg-0 col-md-3 col-sm-1 col-xs-1"></div>-->
<!--            <div class="col-lg-12 col-md-6 col-sm-10 col-xs-10">-->
<!--                <div id="slider">-->
<!--                    <ul class="rslides">-->
<!--                        <li>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-border-color="#000" data-lang="en"><p lang="en"-->
<!--                                                                                                             dir="ltr">-->
<!--                                        Thank you <a-->
<!--                                                href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>-->
<!--                                        for such a great conference! It was a pleasure and big honor to give a talk at-->
<!--                                        such a very well organized event. 👍🏻</p>&mdash; Alexander Lisachenko-->
<!--                                    (@lisachenko) <a-->
<!--                                            href="https://twitter.com/lisachenko/status/868903801813708802?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a-->
<!--                                                href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>-->
<!--                                        for a great <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>.-->
<!--                                        I&#39;m sorry I couldn&#39;t stay until the end, but you put on a great and-->
<!--                                        well-organized conf!</p>&mdash; Rasmus Lerdorf (@rasmus) <a-->
<!--                                            href="https://twitter.com/rasmus/status/868859681782996993?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a-->
<!--                                                href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>-->
<!--                                        for inviting me to be part of a great event! You did an awesome job for an-->
<!--                                        awesome community! Thank you!</p>&mdash; Andreas Heigl (@heiglandreas) <a-->
<!--                                            href="https://twitter.com/heiglandreas/status/868873008982757376?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a-->
<!--                                                href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>-->
<!--                                        conference was excellent. Fantastic hospitality, great crowd. I’d recommend it-->
<!--                                        to attendees and speakers alike.</p>&mdash; Josh Butts (@jimbojsb) <a-->
<!--                                            href="https://twitter.com/jimbojsb/status/868870882042753025?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Grab my slides-->
<!--                                        from <a href="https://t.co/ezPJqhYtBA">https://t.co/ezPJqhYtBA</a> and please-->
<!--                                        let me know how I can improve - thanks for coming to my talk! <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>-->
<!--                                        great crowd!</p>&mdash; James Titcumb 🇪🇺 (@asgrim) <a-->
<!--                                            href="https://twitter.com/asgrim/status/868757446763872257?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you to the-->
<!--                                        <a href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a>-->
<!--                                        organizers, for an awesome speakers dinner. <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>-->
<!--                                    </p>&mdash; Adam Culp (@adamculp) <a-->
<!--                                            href="https://twitter.com/adamculp/status/868580850383892481?ref_src=twsrc%5Etfw">May-->
<!--                                        27, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en"-->
<!--                                                                                                        dir="ltr">Thanks-->
<!--                                        <a href="https://twitter.com/PHPSrbija?ref_src=twsrc%5Etfw">@PHPSrbija</a> for-->
<!--                                        inviting me to speak. It&#39;s been a great conference! <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>-->
<!--                                        <a href="https://t.co/r0LFw1O86a">pic.twitter.com/r0LFw1O86a</a></p>&mdash; Rob-->
<!--                                    Allen (@akrabat) <a-->
<!--                                            href="https://twitter.com/akrabat/status/868867260244537349?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you are-->
<!--                                        interested to hear about some of my experiences with eventsourcing and CQRS,-->
<!--                                        join me at 16:00 in Praktikum track <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>-->
<!--                                    </p>&mdash; Miro Svrtan (@msvrtan) <a-->
<!--                                            href="https://twitter.com/msvrtan/status/868448571997261824?ref_src=twsrc%5Etfw">May-->
<!--                                        27, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 tweet-border">-->
<!--                                <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en"-->
<!--                                                                                                        dir="ltr">It&#39;s-->
<!--                                        <a href="https://twitter.com/adamculp?ref_src=twsrc%5Etfw">@adamculp</a> for the-->
<!--                                        final talk of <a-->
<!--                                                href="https://twitter.com/hashtag/phpsrb17?src=hash&amp;ref_src=twsrc%5Etfw">#phpsrb17</a>...-->
<!--                                        <a href="https://t.co/oLhDkccY0d">pic.twitter.com/oLhDkccY0d</a></p>&mdash; Rob-->
<!--                                    Allen (@akrabat) <a-->
<!--                                            href="https://twitter.com/akrabat/status/868846631264948226?ref_src=twsrc%5Etfw">May-->
<!--                                        28, 2017</a></blockquote>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-0 col-md-3 col-sm-1 col-xs-1"></div>-->
<!--        </div>-->
<!--    </div>-->


<!---->
<!--<section class="location">-->
<!--    <div class="center">-->
<!--        <div class="location-text">Venue</div>-->
<!--        <div class="opera">Madlenianum Theatre, <br/> Belgrade, Serbia</div>-->
<!--        <a class="get" target="_blank"-->
<!--           href="https://maps.google.com?saddr=Current+Location&daddr=Glavna+12+11000+Beograd+Srbija+Madlenianum+Theatre">Get-->
<!--            Directions</a>-->
<!--    </div>-->
<!--</section>-->
<!--  OLD CODE  -->