<?php
/** @var \Zend\View\Renderer\PhpRenderer $this */

$escaper = (new \Zend\Escaper\Escaper);
$this->doctype(Zend\View\Helper\Doctype::XHTML1_RDFA);
$this->headTitle($escaper->escapeHtml($post->title));
$this->headMeta($escaper->escapeHtml($post->lead), 'description');
//$this->headMeta('post', 'og:type');
//$this->headMeta($post->main_img ? $this->serverUrl($post->main_img) : '', 'og:image');
$this->headMeta()->setProperty('og:image',$post->main_img ? $this->serverUrl($post->main_img) : '');
$this->headMeta()->setProperty('og:title',$escaper->escapeHtml($post->title));
$this->headMeta()->setProperty('og:type', 'article');
$this->headMeta()->setProperty('og:description', $escaper->escapeHtml($post->lead));
$this->headMeta()->setProperty('og:url', $this->serverUrl());
//$this->headMeta($this->serverUrl(), 'og:url');
//$this->headMeta($escaper->escapeHtml($post->lead), 'og:description');
?>

<section class="blog">
    <div class="blog-title-wrapper">
        <div class="title"></div>
    </div>

    <div class="container-blog">
        <div class="row ">
            <div class="col-lg-7">
                <div class="posts">
                    <a class="title" href="/post/<?=$post['slug']?>"><?=$post['title']?></a>

                    <a class="date" href="/post/<?=$post['slug']?>"><?=date('l, F d, Y', strtotime($post->offsetGet('published_at')))?></a>
                    <div class="img-wrapper"><img src="<?=$post['main_img']?>"></div>
                    <div><?=$post['body']?></div>
                    <div class="gallery-wrapper">
                        <ul class="fluid-holder">
                        </ul>
                    </div>
                    <a class="read-more" href="/blog/">Go Back</a>
                </div>
            </div>
            <div class="col-lg-4 col-lg-push-1">
                <div class="well custom">
                    <h4>Recent Posts:</h4>
                    <div class="widget">
                        <ul class="list-unstyled">
                            <?php foreach ($posts as $post): ?>
                                <li><a href="/post/<?=$post->offsetGet('slug')?>"><?=$post['title']?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>