<?php
/** @var \Zend\View\Renderer\PhpRenderer $this */

$escaper = (new \Zend\Escaper\Escaper);
$this->headTitle('PHPSerbia Conference 2018 - Blog');
$this->headMeta('PHPSerbia Conference 2018 - Blog', 'description');
$this->headMeta('post', 'og:type');
$this->headMeta($this->serverUrl('/images/fbmeta.jpg'), 'og:image');
$this->headMeta($this->serverUrl(), 'og:url');
$this->headMeta('PHPSerbia Conference 2018 - Blog', 'og:description');
?>
<section class="blog">
    <div class="blog-title-wrapper">
        <div class="title"></div>
    </div>

    <div class="container-blog">
        <div class="row ">
            <div class="col-lg-7">
                <?php if ($posts->count() === 0) : ?>
                <p>There are no published posts at the moment.</p>
                <?php endif; ?>

                <?php foreach ($posts as $post): ?>
                <div class="posts">
                    <a class="title" href="/post/<?=$post->offsetGet('slug')?>"><?=$post->offsetGet('title') ?></a>

                    <a class="date" href="/post/<?=$post['slug']?>"><?=date('l, F d, Y', strtotime($post->offsetGet('published_at')))?></a>
                    <div class="img-wrapper"><img src="<?=$post['main_img']?>" /></div>
                    <div><?=$post->offsetGet('lead')?></div>
                    <a class="read-more" href="/post/<?=$post->offsetGet('slug')?>">Keep reading</a>
                </div>
                <?php endforeach; ?>
                <div class="half-pagination">
                    <?php // echo $this->paginationControl($posts, 'Elastic', 'article/pagination', ['route' => 'blog']) ?>
                </div>
<!--                <ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="http://www.conf2017.phpsrbija.rs/blog?page=2">2</a></li><li><a href="http://www.conf2017.phpsrbija.rs/blog?page=3">3</a></li><li><a href="http://www.conf2017.phpsrbija.rs/blog?page=4">4</a></li><li><a href="http://www.conf2017.phpsrbija.rs/blog?page=5">5</a></li> <li><a href="http://www.conf2017.phpsrbija.rs/blog?page=2" rel="next">»</a></li></ul>-->

            </div>
            <div class="col-lg-4 col-lg-push-1">
                <div class="well custom">
                    <h4>Recent Posts:</h4>
                    <div class="widget">
                        <ul class="list-unstyled">
                            <?php foreach ($posts as $post): ?>
                            <li><a href="/post/<?=$post->offsetGet('slug')?>"><?=$post['title']?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>