<?php
/** @var \Zend\Db\ResultSet\HydratingResultSet $speakers */
/** @var \Zend\View\Renderer\PhpRenderer $this */

$escaper = (new \Zend\Escaper\Escaper);
$this->headMeta('PHPSerbia Conference 2018 - Schedule', 'description');
$this->headMeta('PHPSerbia Conference 2018 - Schedule', 'og:title');
$this->headMeta('page', 'og:type');
$this->headMeta($this->serverUrl('/images/fbmeta.jpg'), 'og:image');
$this->headMeta($this->serverUrl(), 'og:url');
$this->headMeta('PHPSerbia Conference 2018 - Schedule', 'og:description');
?>
<section class="schedule">
    <div class="schedule-title">SCHEDULE</div>
    <!-- <div class="www">The PHPSerbia conference 2017 is divided into two days full of interesting talks from some of the most prominent speakers in the world.</div>  -->

    <div class="schedule-box-wrapper">
        <div class="schedule-header">
            <div class="schedule-time-wrapper">
                <div class="day">Day 1 - Workshops</div>
                <div class="date">Friday, May 25, 2018</div>
            </div>
        </div>

        <div class="schedule-box" id="main_three">
            <article class="schedule-with-image-col" id="databases-the-choice-is-yours" data-time="08:00">
                <div class="track">Track A</div>
                <a href="/speakers#marco" class="img-wrapper">
                    <img src="/uploads/e/5/7/e5776ade09a42b514cb4cba35dc8ca6a.png">
                </a>
                <div class="schedule-details-wrapper">
<!--                    <div class="time">10:00</div>-->
                    <div class="name-wrapper">
                        <a href="/speakers#marco" class="name">Marco Pivetta</a>
                    </div>
                    <a href="/sessions#cqrs-and-event-sourcing" class="schedule-pres-wrapper">CQRS and Event Sourcing: from concepts to working concept</a>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="08:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">08:30</div>
                    <div class="title">Registration, coffee, breakfast</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="09:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">09:30</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="11:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">11:00</div>
                    <div class="title">Break #1</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="11:15">
                <div class="schedule-misc-wrapper">
                    <div class="time">11:15</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="13:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">13:00</div>
                    <div class="title">Launch</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="14:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">14:00</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="16:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">16:00</div>
                    <div class="title">Break #2</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="16:15">
                <div class="schedule-misc-wrapper">
                    <div class="time">16:15</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="18:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">18:00</div>
                    <div class="title">End</div>
                </div>
            </article>
        </div>

        <div class="schedule-box" id="practicum_three">
            <article class="schedule-with-image-col" id="your-butler-just-received-an-upgrade" data-time="08:00">
                <div class="track">Track B</div>
                <a href="/speakers#hannes" class="img-wrapper">
                    <img src="/uploads/9/1/d/91d33a022379b54584c8c358bb4cd616.jpeg">
                </a>
                <div class="schedule-details-wrapper">
<!--                    <div class="time">10:00</div>-->
                    <div class="name-wrapper">
                        <a href="/speakers#hannes" class="name">Hannes Van De Vreken</a>
                    </div>
                    <a href="/sessions#better-search" class="schedule-pres-wrapper">Add better search to your PHP apps <br /> &nbsp;</a>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="08:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">08:30</div>
                    <div class="title">Registration, coffee, breakfast</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="09:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">09:30</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="11:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">11:00</div>
                    <div class="title">Break #1</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="11:15">
                <div class="schedule-misc-wrapper">
                    <div class="time">11:15</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="13:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">13:00</div>
                    <div class="title">Launch</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="14:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">14:00</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="16:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">16:00</div>
                    <div class="title">Break #2</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="16:15">
                <div class="schedule-misc-wrapper">
                    <div class="time">16:15</div>
                    <div class="title">Workshop</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="18:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">18:00</div>
                    <div class="title">End</div>
                </div>
            </article>
        </div>
    </div>

    <div class="schedule-box-wrapper">
        <div class="schedule-header">
            <div class="schedule-time-wrapper">
                <div class="day">Day 2</div>
                <div class="date">Saturday, May 26, 2018</div>
            </div>
        </div>

        <div class="schedule-box" id="main_one">
            <div class="track">Track A</div>

            <article class="schedule-no-image-col" data-time="08:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">08:00</div>
                    <div class="title">Conference Registration</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="10:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">10:00</div>
                    <div class="title">Opening Address</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="key-note" data-time="10:15">
                <a href="/speakers#eryn" class="img-wrapper">
                    <img src="/uploads/6/0/d/60d0998692846f1d56b68fb8db969014.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">10:15</div>
                    <div class="name-wrapper">
                        <a href="/speakers#eryn" class="name">Eryn O'Neil</a>
                    </div>
                    <a href="/sessions#project-triage" class="schedule-pres-wrapper">Project Triage: What To Do When It All Hits The Fan</a>
                </div>
            </article>
            <article class="schedule-with-image-col" id="microservices-vs-the-distributed-monolith" data-time="11:00">
                <a href="/speakers#luis" class="img-wrapper">
                    <img src="/uploads/f/0/0/f00d6d2fcc3292f830fc9a6b533c664c.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">11:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#luis" class="name">Luis Cobucci</a>
                    </div>
                    <a href="/sessions#decomposing-live-app" class="schedule-pres-wrapper">Decomposing a live application with confidence</a>
                </div>
            </article>

            <article class="schedule-with-image-col" id="managing-dependencies-is-more-than-running-composer-update" data-time="12:00">
                <a href="/speakers#miro" class="img-wrapper">
                    <img src="/uploads/4/f/8/4f8edbfe0a00c161fb93bf526d689a20.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">12:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#miro" class="name">Miro Svrtan</a>
                    </div>
                    <a href="/sessions#testing-no-sense" class="schedule-pres-wrapper">When testing makes no sense</a>
                </div>
            </article>
            <article class="schedule-no-image-col" data-time="13:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">13:00</div>
                    <div class="title">Lunch</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="solving-cross-cutting-concerns-in-php" data-time="14:30">
                <a href="/speakers#tomasz" class="img-wrapper">
                    <img src="/uploads/b/5/3/b53dbb6af53e57c1de81ef961209d3bc.png">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">14:30</div>
                    <div class="name-wrapper">
                        <a href="/speakers#tomasz" class="name">Tomasz Kowalczyk</a>
                    </div>
                    <a href="/sessions#blockchain" class="schedule-pres-wrapper">Dive deep into blockchain</a>

                </div>
            </article>
            <article class="schedule-no-image-col" data-time="15:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">15:30</div>
                    <div class="title">Break &amp; refreshments</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="debugging-elephpants" data-time="16:00">
                <a href="/speakers#michael" class="img-wrapper">
                    <img src="/uploads/5/a/7/5a724374934c0a966517cbe052988826.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">16:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#michael" class="name">Michael Heap</a>
                    </div>
                    <a href="/sessions#feature-flags" class="schedule-pres-wrapper">Dr Sheldon Cooper Presents: Fun with Flags</a>
                </div>
            </article>

            <article class="schedule-with-image-col" id="time-is-an-illusion-lunchtime-doubly-so" data-time="17:00">
                <a href="/speakers#marco" class="img-wrapper">
                    <img src="/uploads/e/5/7/e5776ade09a42b514cb4cba35dc8ca6a.png">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">17:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#marco" class="name">Marco Pivetta</a>
                    </div>
                    <a href="/sessions#event-sourcing-good-bad-complicated" class="schedule-pres-wrapper">Event Sourcing: The Good, The Bad and The Complicated</a>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="18:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">18:00</div>
                    <div class="title">Closing Address</div>

                </div>
            </article>
        </div>
        <div class="schedule-box" id="practicum_one">
            <div class="track">Track B</div>

            <article class="schedule-with-image-col" id="building-apis-with-slim-framework" data-time="11:00" style="top: 329.7px;">
                <a href="/speakers#florian" class="img-wrapper">
                    <img src="/uploads/8/0/b/80ba1bfc5e7cde270493a759408a838a.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">11:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#florian" class="name">Dr. Florian Krause</a>
                    </div>
                    <a href="/sessions#scalability" class="schedule-pres-wrapper">Where will you be when the storm comes?</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="handling-deployment-process-from-concept-to-production" data-time="12:00" style="top: 329.7px;">
                <a href="/speakers#mark" class="img-wrapper">
                    <img src="/uploads/9/a/f/9afaf44d8df305d58be3b08df56fbede.png">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">12:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#mark" class="name">Mark Baker</a>
                    </div>
                    <a href="/sessions#anonymous-classes" class="schedule-pres-wrapper">Anonymous Classes: Behind the Mask</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="noops-k8s-serverless" data-time="14:30" style="top: 380.7px;">
                <a href="/speakers#robert-b" class="img-wrapper">
                    <img src="/uploads/f/c/6/fc6daa06a38a40ad2d64737f9f2419d9.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">14:30</div>
                    <div class="name-wrapper">
                        <a href="/speakers#robert-b" class="name">Robert Bašić</a>
                    </div>
                    <a href="/sessions#introddduction" class="schedule-pres-wrapper">introDDDuction</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="year-with-event-sourcing-and-cqrs" data-time="16:00" style="top: 464.55px;">
                <a href="/speakers#marcel" class="img-wrapper">
                    <img src="/uploads/a/b/9/ab984a5279f2d3476df43e1f3a8d98ff.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">16:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#marcel" class="name">Marcel Pociot</a>
                    </div>
                    <a href="/sessions#chatbot-with-botman" class="schedule-pres-wrapper">From zero to multi-platform Chatbot with BotMan</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="websockets-and-torrents-a-match-made-in-php" data-time="17:00" style="top: 464.55px;">
                <a href="/speakers#beau" class="img-wrapper">
                    <img src="/uploads/5/5/2/552886151c02e35cc61cf94cdd394965.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">17:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#beau" class="name">Beau Simensen</a>
                    </div>
                    <a href="/sessions#autowiring-containers" class="schedule-pres-wrapper">How I learned to Stop Wiring and Love Autowiring Containers</a>

                </div>
            </article>
        </div>
    </div>
    <div class="schedule-header">
        <div class="schedule-time-wrapper">
            <div class="day">Day 3</div>
            <div class="date">Sunday, May 27, 2018</div>
        </div>
    </div>
    <div class="schedule-box-wrapper">

        <div class="schedule-box" id="main_two">

            <div class="track">Track A</div>

            <article class="schedule-no-image-col" data-time="09:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">09:00</div>
                    <div class="title">Conference Registration</div>
                </div>
            </article>

            <article class="schedule-no-image-col" data-time="10:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">10:00</div>
                    <div class="title">Opening Address</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="databases-the-choice-is-yours" data-time="10:15">
                <a href="/speakers#beau" class="img-wrapper">
                    <img src="/uploads/5/5/2/552886151c02e35cc61cf94cdd394965.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">10:15</div>
                    <div class="name-wrapper">
                        <a href="/speakers#beau" class="name">Beau Simensen</a>
                    </div>
                    <a href="/sessions#unglue-all-the-things" class="schedule-pres-wrapper">Unglue all the things!</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="domain-driven-design-deconstructed" data-time="11:00">
                <a href="/speakers#hannes" class="img-wrapper">
                    <img src="/uploads/9/1/d/91d33a022379b54584c8c358bb4cd616.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">11:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#hannes" class="name">Hannes Van De Vreken</a>
                    </div>
                    <a href="/sessions#caching-with-psrs" class="schedule-pres-wrapper">Caching in PHP with PSRs</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="beyond-testing" data-time="12:00">
                <a href="/speakers#christophe" class="img-wrapper">
                    <img src="/uploads/9/7/5/975016e0d6db21e606baa98c5b89116f.jpg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">12:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#christophe" class="name">Christophe Willemsen</a>
                    </div>
                    <a href="/sessions#recommendation-engines" class="schedule-pres-wrapper">Recommendation Engines with Neo4j and PHP</a>

                </div>
            </article>
            <article class="schedule-no-image-col" data-time="13:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">13:00</div>
                    <div class="title">Lunch</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="php-without-frameworks" data-time="14:30">
                <a href="/speakers#arnout" class="img-wrapper">
                    <img src="/uploads/b/9/9/b99a3b0e376ec92744c2589c1f81fb8e.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">14:30</div>
                    <div class="name-wrapper">
                        <a href="/speakers#arnout" class="name">Arnout Boks</a>
                    </div>
                    <a href="/sessions#getting-started-with-php-core-development" class="schedule-pres-wrapper">Getting started with PHP core development</a>

                </div>
            </article>
            <article class="schedule-no-image-col" data-time="15:30">
                <div class="schedule-misc-wrapper">
                    <div class="time">15:30</div>
                    <div class="title">Break &amp; refreshments</div>
                </div>
            </article>

            <article class="schedule-with-image-col" id="the-things-your-application-does-while-youre-not-looking" data-time="16:00">
                <a href="/speakers#tobias" class="img-wrapper">
                    <img src="/uploads/a/0/c/a0c40e00a80d99171cf23bfb6e3144f0.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">16:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#tobias" class="name">Tobias Nyholm</a>
                    </div>
                    <a href="/sessions#dynamic-programming" class="schedule-pres-wrapper">Dynamic programming - 101</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="does-your-code-measure-up" data-time="17:00">
                <a href="/speakers#michael-c" class="img-wrapper">
                    <img src="/uploads/c/8/3/c8378097c4e91a3b1b304a6f37aab514.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">17:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#michael-c" class="name">Michael Cullum</a>
                    </div>
                    <a href="/sessions#machine-learning" class="schedule-pres-wrapper">Machine learning and trend analysis in PHP</a>

                </div>
            </article>
            <article class="schedule-no-image-col" data-time="18:00">
                <div class="schedule-misc-wrapper">
                    <div class="time">18:00</div>
                    <div class="title">Closing Address</div>
                </div>
            </article>

        </div>

        <div class="schedule-box" id="practicum_two">

            <div class="track">Track B</div>

            <article class="schedule-with-image-col" id="your-butler-just-received-an-upgrade" data-time="11:00" style="top: 165.85px;">
                <a href="/speakers#luka" class="img-wrapper">
                    <img src="/uploads/6/2/9/629ae7aa28ff530a1d77a247e91502f6.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">11:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#luka" class="name">Luka Mužinić</a>
                    </div>
                    <a href="/sessions#state-in-stateless" class="schedule-pres-wrapper">State in a stateless world</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="processing-multi-queue-messages-using-daemonized-process-in-php" data-time="12:00" style="top: 165.85px;">
                <a href="/speakers#branislav" class="img-wrapper">
                    <img src="/uploads/8/3/d/83d5f0a9332837ba764019a930b55492.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">12:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#branislav" class="name">Branislav Bujisić</a>
                    </div>
                    <a href="/sessions#functional-programming" class="schedule-pres-wrapper">Pros and cons of functional programming</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="php-and-iot-creating-a-deployment-device" data-time="14:30" style="top: 215px;">

                <a href="/speakers#emily" class="img-wrapper">
                    <img src="/uploads/b/9/2/b929ea031ffc4e2465088f7173737d69.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">14:30</div>
                    <div class="name-wrapper">
                        <a href="/speakers#emily" class="name">Emily Stamey</a>
                    </div>
                    <a href="/sessions#es-could-fix-that" class="schedule-pres-wrapper">Hey Boss, Event Sourcing Could Fix That!</a>

                </div>
            </article>
            <article class="schedule-with-image-col" id="speed-up-your-database-300-times" data-time="16:00" style="top: 264.15px;">
                <a href="/speakers#luis" class="img-wrapper">
                    <img src="/uploads/f/0/0/f00d6d2fcc3292f830fc9a6b533c664c.jpeg">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">16:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#luis" class="name">Luis Cobucci</a>
                    </div>
                    <a href="/sessions#jwt" class="schedule-pres-wrapper">JWT - To authentication & beyond!</a>
                </div>
            </article>
            <article class="schedule-with-image-col" id="speed-up-your-database-300-times" data-time="17:00" style="top: 264.15px;">
                <a href="/speakers#slobodan" class="img-wrapper">
                    <img src="/uploads/c/0/e/c0ea9bc54031c12e1ec20f6b9b263009.png">
                </a>
                <div class="schedule-details-wrapper">
                    <div class="time">17:00</div>
                    <div class="name-wrapper">
                        <a href="/speakers#slobodan" class="name">Slobodan Stojanović</a>
                    </div>
                    <a href="/sessions#serverless" class="schedule-pres-wrapper">The last infrastructure talk for developers, or why your future apps will be serverless</a>
                </div>
            </article>
        </div>
    </div>

</section>