<?php
/** @var \Zend\Db\ResultSet\HydratingResultSet $speakers */
/** @var \Zend\View\Renderer\PhpRenderer $this */

$escaper = (new \Zend\Escaper\Escaper);
$this->headMeta('PHPSerbia Conference 2018 - Speakers', 'description');
$this->headMeta('PHPSerbia Conference 2018 - Speakers', 'og:title');
$this->headMeta('page', 'og:type');
$this->headMeta($this->serverUrl('/images/fbmeta.jpg'), 'og:image');
$this->headMeta($this->serverUrl(), 'og:url');
$this->headMeta('PHPSerbia Conference 2018 - Speakers', 'og:description');
?>

<section class="speakers small-grid" style="display: block;">
    <div class="speakers-title-wrapper">
        <div class="title">
            SPEAKERS
        </div>
        <div class="learn">
            Learn from these prominent experts and professionals
        </div>
    </div>
    <div class="speakers-participants-wrapper">
    <?php while ($speakers->valid()): ?>
        <?php $speaker = $speakers->current(); ?>
        <a class="speaker-box small-grid" data-history="" data-id="<?=$speaker['slug']?>" data-toggle="modal">
            <div class="open">
                <img src="<?=$speaker['main_img']?>">
            </div>
            <div class="name">
                <?=$speaker['name']?>
            </div>
<!--            <div class="position">-->
<!--            </div>-->
            <div class="company">
                <?=$speaker['company']?>
            </div>&nbsp;
        </a>

        <!-- Modal -->
        <div class="modal person fade" id="<?=$speaker['slug']?>" tabindex="-1" role="dialog" area-hidden="true">
            <!-- <div class="modal-backdrop fade in"></div> -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <?=$speaker['name']?>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="image-wrapper">
                            <img src="<?=$speaker['main_img']?>">
                        </div>
                        <div class="bio"><?=$speaker['description']?></div>
                        <?php if ($speaker['twitter'] != ''): ?>
                        <div class="twitter"><a href="https://twitter.com/<?=$speaker['twitter']?>" target="_blank&quot;&quot;">@<?=$speaker['twitter']?></a></div>
                        <?php endif; ?>
                        <?php if ($speaker['facebook'] != ''): ?>
                        <div class="facebook"><a href="https://twitter.com/<?=$speaker['facebook']?>" target="_blank&quot;&quot;"><?=$speaker['facebook']?></a></div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <?php $speakers->next(); ?>
    <?php endwhile; ?>
    </div>
</section>
