<?php
/** @var \Zend\Db\ResultSet\HydratingResultSet $talks */
/** @var \Talk\Entity\Talk $talk */
/** @var \Zend\View\Renderer\PhpRenderer $this */

$escaper = (new \Zend\Escaper\Escaper);
$this->headMeta('PHPSerbia Conference 2018 - Sessions', 'description');
$this->headMeta('PHPSerbia Conference 2018 - Sessions', 'og:title');
$this->headMeta('page', 'og:type');
$this->headMeta($this->serverUrl('/images/fbmeta.jpg'), 'og:image');
$this->headMeta($this->serverUrl(), 'og:url');
$this->headMeta('PHPSerbia Conference 2018 - Sessions', 'og:description');

//@todo fix this
$talkEntity = new \Talk\Entity\Talk();
?>

<section class="talks" style="display: block;">
    <div class="talks-title">Sessions</div>
    <!-- <div class="some">Some interesting talks included</div> -->
    <?php foreach ($talks as $talk): ?>
        <div class="talks-box" id="<?=$talk['slug']?>">
            <div class="talks-header">
                <div class="talks-topic-wrapper row">
                    <!--                <a href="/schedule#--><?//=$talk['slug']?><!--" class="topic"><span>--><?//=$talk['title']?><!--</span></a>-->
                    <div class="col-lg-5 col-md-4 col-sm-4">
                        <a href="#" class="topic"><span><?=$talk['title']?></span></a>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4">
                        <a href="/speakers#<?=$talk['speaker_slug']?>" class="name-single"><span>by <?=$talk['speaker']?></span></a>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                    <span class="name-single level-single"><?=$talkEntity->getHrLevel()[$talk['level']]?><br />
                        <?=$talkEntity->getHrType()[$talk['type']]?></span>
                    </div>
                </div>
                <!-- <div class="talks-time-wrapper">
                <div class="talks-time"> May 27, 2017 @ 10:00h</div>
                </div> -->
            </div>
            <div class="col-wrapper">
                <div class="talks-image-col">
                    <a href="/speakers#<?=$talk['speaker_slug']?>" class="img-wrapper">
                        <img src="<?=$talk['main_img']?>">
                    </a>
                </div>
                <div class="talks-details-col">
                    <div class="details-text">
                        <?=$talk['description']?>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>

</section>